
/*1*/
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;  /*ширина задається контенту, тому коли ми вказуємо обнелення, це означає, що в них буде враховуватися все крім маржіна*/

}

img{  /*всі крартинки адаптивні, доступний простір блоку в якому знаходятьяс
	*/
	display: block;
	max-width: 100%;
	height: auto;	
	/*border: 10px outset #d1d7b1;*/
	border-radius: 80px 0px 80px 0px; 
}

body{
	font-size: 12px;  /*основний шрифт, якщо не буде, що буде, якщо не буде - сімейство шрифтів*/
	font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper{
	background-color: #6a7436;
	padding: 5px 10px 5px 10px;
}

.header{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #a0aa6d;
}
.foto{
	height: 40%;
	padding: 10px;
}
.zagolovok{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.zagolovok div:first-child{
	font-family:Brush Script MT,  Brush Script Std, cursive, Arial;
	font-size: 20px;
	color: #6a7436;
	text-shadow: 3px -3px 5px white;

}
.zagolovok div:last-child{
	font-family: Bradley Hand, cursive, Arial;
	font-size: 16px;
	text-align: center;
	text-shadow: 3px -3px 5px white;
}
.mal{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.square{
	width: 10px;
	height: 10px;
	background-color: white;
	margin: 10px;
	box-shadow: 0 0 10px #6a7436;
	animation-name: spin;  /*задає імя анімації*/
	animation-duration: 2s;  /*задає час протягом якого буде виконуватися один цикл анімації*/
	animation-iteration-count: infinite;  /*кількість анімацій*/
}
@keyframes spin{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
.kontaktu{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	font-size: 12px;
}
.kontaktu img{
	display: none;
}
.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #d1d7b1;
	font-family: Brush Script MT, Brush Script Std, cursive, Arial;
	padding: 10px;
	text-align: center;
}

.menu{
	display: none;
}

.my-flex-container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
}
.letter { 
     color: red;  
     font-size: 200%; 
     font-family: serif, Arial; /* Шрифт з засічками */ 
     position: relative;  
     top: 5px; 
}
.my-flex-block{
	display: flex;
	display: none;
	flex-direction: row;
	justify-content: flex-start;
	border: 10px solid #a0aa6d;
	padding: 5px;
}
.text{
	/*display: none;*/
	/*padding-left: 20px;*/
	width: 240px;
}

ol li:nth-child(odd){
	background-color: #acc181;
}
ol li:nth-child(even){
	background-color: #d7edaa;
}

.my-flex-block div:first-child{
	min-width: 50px;
	width: 180px;
	border: 10px outset #d1d7b1;
	text-align: left;
}
.my-flex-block a{
	text-decoration: none;
	/*padding-left: -10px;*/
}

.wrapper img{
	min-height: 30px;
	max-height: 80px;
}
ol{
	/*display: none;*/
	text-align: left;
	padding-left: 30px;
}
/*для бургера*/
/*.nav-burger__checkbox{
	display: none;

	&:checked{
		+ .nav-burger{
			background-color:red;
		}

		~ .menu{
			display: block;
		}
	}
}*/


/*кінець бургера*/

/**//*меню гамбургер*/
/*
 .menu_male {
    text-align: right;
}

.menu__icon {
   display: none;
   width: 45px;
   height: 35px;
   position: relative;
   cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #333333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
 }

.menu__links-item {
    display: inline-block;
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__links-item:hover {
    text-decoration: underline;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__links {
  display: block;  
}

@media screen and (max-width: 999px) {
  .menu__icon{
    display: inline-block;
  }
  
  .menu__links {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }
  
  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
}*/

/*кінець гамбургера*/


/*для компа*/
@media (min-width: 1224px) { 
.main-wrapper{
	padding: 20px 40px 20px 40px;
}
.wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.header{
	display: flex;
	flex-direction: row;
}
.text{
	display: inline-block;
	font-size: 16px;
	width: 700px;
}
.my-flex-container{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	/*width: 70%;*/
}
.my-flex-block{
	/*width: 900px;*/
	border:none;
	display: block;
}

.forma1{
	margin: 10px;
}
.zagolovok div:first-child{
	font-size: 38px;
}
.kontaktu img{
	display: block;
	height: 110px;
	width: 150px;
	padding: 10px;
}
.square{
	margin: 30px;
}
.zagolovok div:last-child{
	font-size: 20px;
}
.menu{
	/*display: none;*/
	display: block;
	background-color: #a0aa6d;
	width: 200px;
}
.menu li{
	border: 10px outset #d1d7b1;
	text-decoration: none;
	list-style: none;
}
.menu li a{
	text-decoration: none;
}
